a:hover{
    color: red;
}

header{
    top: 0;
    position: sticky;
    padding: 3px;  
    background-color: beige;
    z-index: 1;
}
title{
    text-align: center;
}

h2{
    font-family: cursive;
}

.nav-link li{
    display: inline;
    margin: 0 10px 0 10px;
    font-family: cursive;

    
}